@{
    ViewBag.Title = "About";
}

<hgroup class="bodyText">
    <h1 class="normalHeading">За нас</h1>
</hgroup>

<article>
    <p class="bodyText">
        <span class="capitalLetter">В</span>етеринарна амбулатория „Оптивет” е създадена през 2008г. с насоченост към домашните любимци.


Стремежът ни е да лекуваме Вашите любимци така, както лекуваме нашите собствени любимци : с възможно най-голямото внимание, с много съчувствие и висока компетентност както и с максималните ни познания и съвест. 
Нашата обща цел е постигането на възможно най-високото качество на лечение при всеки индивидуален случай.
<br /><br />
        </p>
<blockquote>
<h2 class="aboutH2">Основната цел е доброто физическо и психическо състояние на животните и вашата удовлетвореност като собственици на домашен любимец.</h2>
 </blockquote>
 <p id="byQuote">д-р Атанас Делчев</p>

<h3 class="aboutH3"> Затова ние предлагаме: </h3>
    <ul id="aboutUl" class="bodyText">
        <li>Винаги открити и честни съвети</li>
        <li>Употреба само на безупречни, разрешени медикаменти и операционни материали на известни производители</li>
        <li>Съвременна  техника и познания </li>
        <li>Един приятелски, отзивчив и отлично образован екип </li>
        <li>Интензивно повишаване на квалификацията всички области на ветеринарната медицина </li>
        <li>Винаги "отворени уши" за вашите въпроси и грижи</li>
        <li>Възможност за домашни посещения след предварителна уговорка </li>
        <li>Информационни материали за собствениците на животни и компетентни съвети (напр. при придобиване на нов домашен любимец) </li>
    </ul>
    
    
</article>

<aside class="bio">
    <img id="bioImage" src="~/Content/SiteImages/bio.jpg" width="190" height="190"/>
            
    <h3 class="aboutH3Bio">Д-р Атанас Делчев</h3>
        <p class="bodyTextSmall">
            <span class="capitalLetter">Р</span>оден през 1961г. в гр.Пазарджик където завършва основното и средното си образование.
            През 1986г. се дипломира като като ветеринарен лекар във ВИЗВМ - гр.Стара Загора. От завършването си до 2013г. работи като участъков ветеринарен лекар с.Капитан Димитриево и с.Сарая. 
            През 1991г. завършва специализация по Ветеринарно акушерство. Физиология и патология на репродукцията, новородените и мл. жлеза. в Селскостопанска академия - София.
        </p>
        <b> <br />Курсове и сертификати по: </b>
        <ul>
            <li>Основи на ултразвуковата диагностика. </li>
            <li>Ехографско изследване на коремната кухина. </li>
            <li>Спешни състояния при кучето и котката. </li>
            <li>Оперативно лечение на фрактури – базисно ниво </li>
            <li>Ендокринология </li>
            <li>Вродени заболявания при кучето и котката. </li>
            <li>Кожни заболявания при кучето и котката. </li>
            <li>Офталмология на кучето. </li>
        </ul>
        <br />
    <p class="bodyTextSmall">
        От 2007г. работи във ветеаринарна амбулатори за домашни любимци „Оптивет.” Член е на областната колегия на БВС и негов пръв председател.
        Има специализирани интереси в областта на хирургията и акушерството. В свободното си време спортува туризъм, бягане и колоездене. Семеен с едно дете.
    </p>

</aside>