@{
    ViewBag.Title = "Info";
}


@*<nav>
    <ol class="customOrderedList">
        <li><a href="#info1" class="navLinksInfo">  Трябва ли да съм предпазлив когато използвам услугите на подозрително евтин ветеринарен кабинет?</a> </li>
        <li> <a href="#info2" class="navLinksInfo">  Ако моят ветеринарен лекар не установи какъв е проблема на животното мога ли да си върна парите обратно?</a> </li>
        <li> <a href="#info3" class="navLinksInfo">  Тъй като домашните посещения, ваксинациите, операциите, лекарствата и т.н. са доста скъпи има ли възможност за разсрочено плащане?</a> </li>
        <li> <a href="#info4" class="navLinksInfo">  Не е ли цената на ветеринарната медицина твърде висока и неразумна? Все пак става въпрос за животни?</a> </li>
        <li> <a href="#info5" class="navLinksInfo">  Защо трябва да кастрирам моя домашен любимец? Защо това е толкова скъпо?</a> </li>
        <li> <a href="#info6" class="navLinksInfo">  Наскоро аз прибрах едно улично куче което изглеждаше наранено, най-вероятно блъснато от кола. Заведох го на ветеринарен лекар и платих първите сметки. Не мога обаче да си позволя по-нататъшно лечение. Това ли е наградата която получавам за това?</a> </li>
        <li> <a href="#info7" class="navLinksInfo">  Защо ветеринарните лекари не могат да консултират, да поставят диагнози или предписват лекарства по телефона и така да ми спестят цялото това време и пари?</a></li>
        <li> <a href="#info8" class="navLinksInfo">  Защо цените на ветеринарните клиники за една и съща процедура са толкова различни?</a> </li>
        <li> <a href="#info9" class="navLinksInfo">  Ако искам да си взема кученце или котенце какви средства трябва да отделя за ветеринарни грижи? И в последствие колко на година?</a> </li>
        <li> <a href="#info10" class="navLinksInfo">  Трябва ли на моят любимец да се поставят всички налични ваксини за да получи документ че е ваксиниран срещу бяс? Какви инжекции са абсолютно необходими за моето куче/котка и колко ще ми струват?</a></li>
        <li> <a href="#info11" class="navLinksInfo">  Защо ветеринарните грижи за моят любимец/ци са толкова скъпи? Понякога смятам че давам повече пари за здравето на животните си отколкото за самият мен!</a> </li>
        <li> <a href="#info12" class="navLinksInfo">  Моето наранено (болно) животно се нуждае от ветеринарен лекар за неотложна помощ но: а) Аз току що загубих работата си ....б) Няма да взимам заплата в следващите две седмици .....в) и т.н.</a> </li>
        <li> <a href="#info13" class="navLinksInfo">  Защо в една и съща клиника цената за една и съща процедура е различна?</a> </li>
        <li> <a href="#info14" class="navLinksInfo">  Как да храните правилно вашето куче?</a> </li>
    </ol>
</nav>


<h1 class="normalHeading">Полезна информация</h1>

<div id="info1">
    
        <hr class="bodyText"/>
            <h2 class ="normalHeading"> 1.Трябва ли да съм предпазлив когато използвам услугите на подозрително евтин ветеринарен кабинет? </h2>
        <hr class="bodyText"/>
            <p class="bodyTextPadding">  Съществува минимум от условия за работа с животни, които се изискват от ветеринарните контролни органи. Съществуват също и минимум от медицински материали, консумативи и оборудване, за да бъде практикувана професията.
            Когато забележите значителни различия е добре да се поинтересувате подробно за вида на предложеното ви лечение. Ако цените са много по-ниски в сравнение с другите клиники, които сте посещавали, очакванията ви за нивото на обслужване не могат да бъдат големи.
             </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
     
</div>

<div id="info2">
    <h2 class ="normalHeading"> 2. Ако моят ветеринарен лекар не установи какъв е проблема на животното мога ли да си върна парите обратно? </h2>
    <hr class="bodyText"/>
        <p class="bodyTextPadding"> Таксите които плащате покриват това което е направено за животното като клиничен преглед, извършени тестове, диагностика, лечение и лекарства. Някои проблеми могат да бъдат дългосрочни или да включват множествени и/или променящи се причини. Лечението в тези случаи може да търпи развитие.
        Не винаги е възможно да повлияем болестния процес. Вие плащате за един честен опит за поставяне на диагноза и лечение на проблема.
         </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
</div>

<div id="info3">
    <h2 class ="normalHeading"> 3. Тъй като домашните посещения, ваксинациите, операциите, лекарствата и т.н. са доста скъпи има ли възможност за разсрочено плащане? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Както и на повечето други професионални услуги които посещавате (зъболекаря, адвоката и т.н.) таксите се плащат по време на извършване на услугата.
    Най-добре е да се обадите предварително във ветеринарната клиника чиито услуги ще използвате и да попитате за възможните начини за плащане.
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
</div>



<div id="info4">
    <h2 class ="normalHeading"> 4. Не е ли цената на ветеринарната медицина твърде висока и неразумна? Все пак става въпрос за животни? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Грижите които се полагат за всяко едно животно се определят строго от неговия собственик. Всеки стопанин има различна представа за това какви са приемливите грижи за неговия любимец. Ветеринарните лекари могат единствено да информират клиентите си за наличните медицински варианти. След което те насочват собствениците към техния избор относно най-важните здравни грижи от които се нуждаят техните любимци. Крайното решение е в ръцете на стопанина.
    И все пак - ако не сте склонни да финансирате грижите за домашния си любимец, най-добре помислете дали е удачно да имате такъв.
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
</div>

<div id="info5">
    <h2 class ="normalHeading"> 5. Защо трябва да кастрирам моя домашен любимец? Защо това е толкова скъпо? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Кастрирането на кучетата и котките има дългосрочни здравословни предимсва за тях. Помолете вашият ветеринарен лекар да ви ги обясни. Очевидно най-важното предимство е контрола върху популацията и намаляването на броя на непредвидени и нежелани малки.
    Кастрацията е важна операция за вашия питомец. Средната цена е по-малка от цената на горивото на автомобила ви за една седмица. Тази процедура изисква време от страна на ветеринарния лекар и поддържащия екип, стерилизирани хирургични инструменти, обща анестезия, стерилни кърпи, шевни материали и хоспитализация. Когато сравните разходите по храненето на майката и на всички нежелани кученца и котенца ще се убедите че кастрацията е много по-изгодна.
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
</div>

<div id="info6">
    <h2 class ="normalHeading"> 6. Наскоро аз прибрах едно улично куче което изглеждаше наранено, най-вероятно блъснато от кола. Заведох го на ветеринарен лекар и платих първите сметки. Не мога обаче да си позволя по-нататъшно лечение. Това ли е наградата която получавам за това? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Ако приберете животно от улицата, независимо от това дали смятате да го задържите или не, вие веднага се превръщате в негов собственик и съответно сте отговорен за грижите по него. Неговото здраве е наградата която ще получите за това че се опитвате да направите това, което трябва.
    Ветеринарните лекари се сблъскват често с подобни случаи. Обикновенно се постига задоволително споразумение с човека, който иска да се проведе лечение на животното. Определянето на финансовите средства, които ще са необходими, още на първото посещение в амбулаторията ще ви даде възможност да направите преценка.
    Решението да приберете животно от улицата трябва да бъде взето след същата внимателна преценка, както когато купувате или осиновявате такова. Ветеринарните разходи не се определят от това как е придобито животното.
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>
</div>

<div id="info7">
    <h2 class ="normalHeading"> 7. Защо ветеринарните лекари не могат да консултират, да поставят диагнози или предписват лекарства по телефона и така да ми спестят цялото това време и пари? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Не само че е непрофесионално и незаконно да се предписват лекарства на животни които не са клинично прегледани от ветеринарен лекар, но също така е невъзможно да се постави точна диагноза и подходящ план за лечение.
    Ветеринарният лекар не може да постави диагноза въз основа на симптомите наблюдавани от собственика. Външните признаци често са само индикатор на голям брой вътрешни заболявания лекуващи се по различни начини.За да се определи точната причина за симптомите и да се изпише най-добрия курс на лечение се изисква пълно клинично изследване и допълнителни диагностични тестове.  
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>

</div>

<div id="info8">
    <h2 class ="normalHeading"> 8. Защо цените на ветеринарните клиники за една и съща процедура са толкова различни? </h2>
    <hr class="bodyText"/>
    <p class="bodyTextPadding"> Не само че е непрофесионално и незаконно да се предписват лекарства на животни които не са клинично прегледани от ветеринарен лекар, но също така е невъзможно да се постави точна диагноза и подходящ план за лечение.
    Ветеринарният лекар не може да постави диагноза въз основа на симптомите наблюдавани от собственика. Външните признаци често са само индикатор на голям брой вътрешни заболявания лекуващи се по различни начини.За да се определи точната причина за симптомите и да се изпише най-добрия курс на лечение се изисква пълно клинично изследване и допълнителни диагностични тестове.  
     </p>
    <a href="#top" class="navLinksInfo"><i class="fa fa-arrow-up">Обратно</i></a>

</div>*@








<div class="accordion">
    <div class="accordion-section">
        <a class="accordion-section-title" href="#info1"><i class="fa fa-paw"></i> Трябва ли да съм предпазлив когато използвам услугите на подозрително евтин ветеринарен кабинет? </a>        
        <div id="info1" class="accordion-section-content">
            <p class="accordionText"> Съществува минимум от условия за работа с животни, които се изискват от ветеринарните контролни органи. Съществуват също и минимум от медицински материали, консумативи и оборудване, за да бъде практикувана професията.
                Когато забележите значителни различия е добре да се поинтересувате подробно за вида на предложеното ви лечение. Ако цените са много по-ниски в сравнение с другите клиники, които сте посещавали, очакванията ви за нивото на обслужване не могат да бъдат големи.</p>
        </div>
        
        <a class="accordion-section-title" href="#info2"><i class="fa fa-paw"></i> Ако моят ветеринарен лекар не установи какъв е проблема на животното мога ли да си върна парите обратно? </a>        
        <div id="info2" class="accordion-section-content">
            <p class="accordionText"> Таксите които плащате покриват това което е направено за животното като клиничен преглед, извършени тестове, диагностика, лечение и лекарства. Някои проблеми могат да бъдат дългосрочни или да включват множествени и/или променящи се причини. Лечението в тези случаи може да търпи развитие. Не винаги е възможно да повлияем болестния процес. Вие плащате за един честен опит за поставяне на диагноза и лечение на проблема.</p>
        </div>

        <a class="accordion-section-title" href="#info3"><i class="fa fa-paw"></i> Тъй като домашните посещения, ваксинациите, операциите, лекарствата и т.н. са доста скъпи има ли възможност за разсрочено плащане? </a>        
        <div id="info3" class="accordion-section-content">
            <p class="accordionText"> Както и на повечето други професионални услуги които посещавате (зъболекаря, адвоката и т.н.) таксите се плащат по време на извършване на услугата.
                Най-добре е да се обадите предварително във ветеринарната клиника чиито услуги ще използвате и да попитате за възможните начини за плащане.
            </p>
        </div>

        <a class="accordion-section-title" href="#info4"><i class="fa fa-paw"></i> Не е ли цената на ветеринарната медицина твърде висока и неразумна? Все пак става въпрос за животни? </a>        
        <div id="info4" class="accordion-section-content">
            <p class="accordionText"> Грижите които се полагат за всяко едно животно се определят строго от неговия собственик. Всеки стопанин има различна представа за това какви са приемливите грижи за неговия любимец. Ветеринарните лекари могат единствено да информират клиентите си за наличните медицински варианти. След което те насочват собствениците към техния избор относно най-важните здравни грижи от които се нуждаят техните любимци. Крайното решение е в ръцете на стопанина.
                И все пак - ако не сте склонни да финансирате грижите за домашния си любимец, най-добре помислете дали е удачно да имате такъв.
            </p>
        </div>

        <a class="accordion-section-title" href="#info5"><i class="fa fa-paw"></i> Защо трябва да кастрирам моя домашен любимец? Защо това е толкова скъпо? </a>        
        <div id="info5" class="accordion-section-content">
            <p class="accordionText"> Кастрирането на кучетата и котките има дългосрочни здравословни предимсва за тях. Помолете вашият ветеринарен лекар да ви ги обясни. Очевидно най-важното предимство е контрола върху популацията и намаляването на броя на непредвидени и нежелани малки.
                Кастрацията е важна операция за вашия питомец. Средната цена е по-малка от цената на горивото на автомобила ви за една седмица. Тази процедура изисква време от страна на ветеринарния лекар и поддържащия екип, стерилизирани хирургични инструменти, обща анестезия, стерилни кърпи, шевни материали и хоспитализация. Когато сравните разходите по храненето на майката и на всички нежелани кученца и котенца ще се убедите че кастрацията е много по-изгодна.
            </p>
        </div>

        <a class="accordion-section-title" href="#info6"><i class="fa fa-paw"></i> Наскоро аз прибрах едно улично куче което изглеждаше наранено, най-вероятно блъснато от кола. Заведох го на ветеринарен лекар и платих първите сметки. Не мога обаче да си позволя по-нататъшно лечение. Това ли е наградата която получавам за това? </a>        
        <div id="info6" class="accordion-section-content">
            <p class="accordionText"> Ако приберете животно от улицата, независимо от това дали смятате да го задържите или не, вие веднага се превръщате в негов собственик и съответно сте отговорен за грижите по него. Неговото здраве е наградата която ще получите за това че се опитвате да направите това, което трябва.
                Ветеринарните лекари се сблъскват често с подобни случаи. Обикновенно се постига задоволително споразумение с човека, който иска да се проведе лечение на животното. Определянето на финансовите средства, които ще са необходими, още на първото посещение в амбулаторията ще ви даде възможност да направите преценка.
                Решението да приберете животно от улицата трябва да бъде взето след същата внимателна преценка, както когато купувате или осиновявате такова. Ветеринарните разходи не се определят от това как е придобито животното.
            </p>
        </div>

        <a class="accordion-section-title" href="#info7"><i class="fa fa-paw"></i> Защо ветеринарните лекари не могат да консултират, да поставят диагнози или предписват лекарства по телефона и така да ми спестят цялото това време и пари? </a>        
        <div id="info7" class="accordion-section-content">
            <p class="accordionText"> Не само че е непрофесионално и незаконно да се предписват лекарства на животни които не са клинично прегледани от ветеринарен лекар, но също така е невъзможно да се постави точна диагноза и подходящ план за лечение.
                Ветеринарният лекар не може да постави диагноза въз основа на симптомите наблюдавани от собственика. Външните признаци често са само индикатор на голям брой вътрешни заболявания лекуващи се по различни начини.За да се определи точната причина за симптомите и да се изпише най-добрия курс на лечение се изисква пълно клинично изследване и допълнителни диагностични тестове.  
            </p>
        </div>

        <a class="accordion-section-title" href="#info8"><i class="fa fa-paw"></i> Защо цените на ветеринарните клиники за една и съща процедура са толкова различни? </a>        
        <div id="info8" class="accordion-section-content">
            <p class="accordionText"> Цените се определят отделно от всяка една ветеринарна практика. Всяка една от тях предлага различно качество на услугата,използва различни материали,методи на лечение,работят различни специалисти в дадена област. Обикновенно различните цени не отразяват еднакъв тип или качество на услугите, въпреки че като цяло има определени основни процедури.
                Всеки ветеринарен лекар определя таксите въз основа на различни критерии, като различни лекарства, анестетици, антибиотици, медицински техники и продукти, които влияят върху цената.
            </p>
        </div>

        <a class="accordion-section-title" href="#info9"><i class="fa fa-paw"></i> Ако искам да си взема кученце или котенце какви средства трябва да отделя за ветеринарни грижи? И в последствие колко на година? </a>        
        <div id="info9" class="accordion-section-content">
            <p class="accordionText"> Повечето кученца и котенца се нуждаят от основен здравен преглед, обезпаразитяване и ваксинации. Ветеринарните клиники ще се погрижат да ви дадат една обща сметка по телефона. Когато молите да ви изчислят общата сума вие трябва да сте сигурни какво точно ще получите и дали няма да има допълнителни такси за нещо друго.
            </p>
        </div>

        <a class="accordion-section-title" href="#info10"><i class="fa fa-paw"></i> Трябва ли на моят любимец да се поставят всички налични ваксини за да получи документ че е ваксиниран срещу бяс? Какви инжекции са абсолютно необходими за моето куче/котка и колко ще ми струват? </a>        
        <div id="info10" class="accordion-section-content">
            <p class="accordionText"> За да получите документ за бяс е необходимо да се постави само ваксина срещу бяс. Този закон цели да предпази хората и животните от разпространението на заболяването. 
                Ваксината обаче не може да бъде поставена без клиничен преглед на животното. В интерес на вашия любимец е да го водите на рутинни профилактични прегледи, както и да поставите необходимите ваксини препоръчани от ветеринарния лекар, за да го поддържате в добро здраве. Има много инфекциозни болести по животните и голяма част от тях са фатални. 
                Допълнителната цена на ваксините които предпазват от тези заболявания не е висока. Поставянето на ваксини е сигурен, лесен и ефективен начин да предотвратите заболяване.
            </p>
        </div>

        <a class="accordion-section-title" href="#info11"><i class="fa fa-paw"></i> Защо ветеринарните грижи за моят любимец/ци са толкова скъпи? Понякога смятам че давам повече пари за здравето на животните си отколкото за самият мен! </a>        
        <div id="info11" class="accordion-section-content">
            <p class="accordionText"> Средната продължителност на живота на вашият любимец е 11 години. За този период от време, животното е податливо на всички заболявания, характерни за детската, зрялата и напредналата възраст.
                От друга страна цените на лекарствата, консумативите и оборудването, необходими за лечение на животните са същите като тези, използвани за лечението на хората.
            </p>
        </div>

        <a class="accordion-section-title" href="#info12"><i class="fa fa-paw"></i> Моето наранено (болно) животно се нуждае от ветеринарен лекар за неотложна помощ но: а) Аз току що загубих работата си ....б) Няма да взимам заплата в следващите две седмици .....в) и т.н. </a>        
        <div id="info12" class="accordion-section-content">
            <p class="accordionText"> Повечето собственици имат постоянен ветеринарен лекар който би отложил плащането за редовните си клиенти. Проблемът се появява при хората чиито животни нямат постоянен лекар, но искат и търсят услуги при спешни ситуации без да гарантират че ще платят. 
                Ако вие изберете да не използвате редовно ветеринарни услуги трябва добре да обмислите как ще осигурите финансовия аспект при спешни нужди от страна на вашия любимец.
            </p>
        </div>

        <a class="accordion-section-title" href="#info13"><i class="fa fa-paw"></i> Защо в една и съща клиника цената за една и съща процедура е различна? </a>        
        <div id="info13" class="accordion-section-content">
            <p class="accordionText"> Поради това че пациентите ни значително варират по големина (често десетки пъти) и възраст, цената е различна - консумативите, времето и труда са различни за една двукилограмова котка и едно седемдесеткилограмово куче. 
            </p>
        </div>
        
        
        <!--end .accordion-section-content-->
    </div><!--end .accordion-section-->
</div><!--end .accordion-->











@section Scripts{

     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
     <!-- bxSlider Javascript file -->
     <script src="Scripts/jquery.bxslider.min.js"></script>
     <!-- bxSlider CSS file -->
     <link href="Content/jquery.bxslider.css" rel="stylesheet" />


<script type="text/javascript">
    $('a[href*=#]:not([href=#])').click(function () {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '')
	        || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top
                }, 500);
                return false;
            }
        }
    });

</script>


<script type="text/javascript">
    $("a[href='#top']").click(function () {
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        function close_accordion_section() {
            $('.accordion .accordion-section-title').removeClass('active');
            $('.accordion .accordion-section-content').slideUp(300).removeClass('open');
        }

        $('.accordion-section-title').click(function (e) {
            // Grab current anchor value
            var currentAttrValue = $(this).attr('href');

            if ($(e.target).is('.active')) {
                close_accordion_section();
            } else {
                close_accordion_section();

                // Add active class to section title
                $(this).addClass('active');
                // Open up the hidden content panel
                $('.accordion ' + currentAttrValue).slideDown(300).addClass('open');
            }

            e.preventDefault();
        });
    });

</script>


}

